################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SwitchInfo/WebTests1/bin/Debug
/SwitchInfo/WebTests1/obj/Debug
/SwitchInfo/SwitchInfo/bin
/SwitchInfo/SwitchInfo/obj
/SwitchInfo/WebTests1/bin
/SwitchInfo/WebTests1/obj
/SwitchInfo/Web/bin
/SwitchInfo/Web/obj
